@use "sass:map";
@import "./src/scss/variables/colors";
@import "./src/scss/variables/typography";

.navbar {
  background-color: map.get($primary, P900);
  color: map.get($neutral, P700);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .title {
    flex-grow: 1;
    font-size: map.get($font-sizes, 5);
    font-weight: map.get($font-weight, semi-bold);
    @media only screen and (max-width: 472px) and (min-width: 320px) {
      display: none;
    }
  }
}