$primary: (
	P900: #507ba3,
	P800: #6077a8,
	P700: #7571a8,
	P600: #8b6aa3,
	P500: #9f6298,
	P400: #af5a87,
	P300: #9f677e,
	P200: #6a364d,
	P100: #bca5ae,
);
$neutral: (
	P900: #9fadbd,
	P800: #e6f4f1,
	P700: #effaff,
);
