@use 'sass:map';
@import '../../scss/variables/colors';
@import '../../scss/variables/typography';
@import '../../scss/variables/mixins';
// TODO: move elipsis and shadow mixins to sepparate file '/shared/scss/variables/mixins'
.MuiPaper-root {
	border: 1px solid map.get($neutral, P800);
	@include box-shadow($neutral, P800);
	& .MuiCardHeader-root {
		background-color: map.get($primary, P500);
		& .MuiTypography-root.MuiTypography-h5.MuiCardHeader-title {
			color: map.get($primary, P200);
		}
	}
}

.cardContent {
	@include text-ellipsis;
}
.cardFooter {
	margin-top: 10px;
	border-top: 1px solid map.get($neutral, P900);
	display: flex;
	flex-direction: column;
}
