@use 'sass:map';
@import './src/shared/scss/variables/colors';
@import './src/shared/scss/variables/typography';

// TODO: rewrive with global classnames
.MuiChip-root.MuiChip-filled {
	background-color: map.get($primary, P700);
	margin-right: 15px;
	margin-bottom: 15px;
	& .MuiChip-label {
		color: map.get($neutral, P700);
	}
}
