@use 'sass:map';
@import './src/shared/scss/variables/colors';

.MuiModal-root {
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 50px;
	& .MuiBox-root {
		display: flex;
		flex-direction: column;
		width: 33%;
		background-color: map.get($neutral, P800);
		padding: 20px;
		border: 1px solid map.get($neutral, P900);
		background-clip: padding-box;
		border-radius: 12px;
	}
}
