$primary: (
  P900: #507BA3,
  P800: #6077A8,
  P700: #7571A8,
  P600: #8B6AA3,
  P500: #9F6298,
  P400: #AF5A87,
  P300: #9F677E,
  P200: #6A364D,
  P100: #BCA5AE
);
$neutral: (
  P900: #9FADBD,
  P800: #E6F4F1,
  P700: #EFFAFF
);